/* This file is for your main application CSS */
@import "./phoenix.css";

h1 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
 }

 body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   margin: auto;
   position: relative;
   width: 960px;
}

.axis {
  font: 2em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}
.normal {
  stroke: wheat;
}
.precip {
  stroke: steelblue;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

form {
  position: absolute;
  right: 25px;
  top: 400px;
}

.legend rect {
  fill: blue;
  stroke: black;
}
