<h1>KBS Cumulative Precipitation: Actual versus 30-year Mean</h1>
<div id='graph'></div>
<form>
  <label><input type="radio" autocomplete="off" checked="true" name="interval" value="annual" checked> Annual</label>
  <label><input type="radio" autocomplete="off" name="interval" value="growing"> Growing Season</label>
  <select id="year"></select>
</form>
