<h1>Cummulative precipitation vs 30 normal precipitation at KBS</h1>
<form>
  <label><input type="radio" autocomplete="off" checked="true" name="interval" value="annual" checked> Annual</label>
  <label><input type="radio" autocomplete="off" name="interval" value="growing"> Growing Season</label>
</form>
<div id='graph'></div>
